@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

#home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#home .top-img {
  width: 100%;
}

#home p {
  margin: 0px 15px 0px 15px;
  text-align: center;
  font-family: "poppins";
  font-size: 18px;
}

#home h1 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  /* margin: 30px 0px 15px 0px; */
}
#home .bottom-img {
  width: 170%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: rotate(180deg);
}

#home .author-name {
  text-align: right;
  margin-top: 10px;
  font-style: italic;
}

#events {
  background-color: #3d5177;
  padding-bottom: 50px;
  overflow: hidden;
}

#events h1 {
  font-size: 36px;
  color: white;
  margin-top: 0px;
  margin-left: 15px;
  padding-top: 40px;
  margin-bottom: 10px;
}

.events-bottom {
  margin-top: 50px;
}

.all-events-btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: whitesmoke;
  color: black;
  border: solid 1px black;
}

#about {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#about h1 {
  font-size: 36px;
  margin: 40px 0px 20px 15px;
}

#about p {
  margin: 0px 15px 0px 15px;
}

.about-lower-img {
  width: 100%;
  position: absolute;
  bottom: 0vh;
}

#connect {
  background-color: #3d5177;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#connect h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-left: 15px;
  padding-top: 40px;
  margin-bottom: 10px;
  color: white;
}

.connect-text {
  font-family: "poppins";
  font-size: 24px;
  margin: 30px 15px 0px 15px;
  color: white;
}

.connect-img {
  position: absolute;
  bottom: 0px;
  right: -3%;
  width: 90%;
}

p {
  font-family: "Roboto";
  font-size: 16px;
}
/* 
.fadeIn {
  opacity: 0;
} */

.shadow {
  box-shadow: gray 0px 4px 4px 0px;
}

button {
  font-family: "Roboto";
}

h1 {
  font-family: "poppins";
}

h3 {
  font-family: "poppins";
}

.nav-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .events-bottom {
    margin: 50px 15px 0px 15px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  #events {
    padding: 0px 50px 50px 50px;
  }

  #events h1 {
    margin-left: 0px;
  }

  .event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #about h1 {
    margin-left: 50px;
    margin-top: 50px;
  }
  #about p {
    margin-left: 50px;
  }

  #connect h1 {
    margin-left: 50px;
    margin-top: 50px;
  }

  #connect p {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .bm-burger-button {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .top-img {
    display: none;
  }
  #home .bottom-img {
    width: 100%;
    position: absolute;
    bottom: 0vh;
    transform: rotate(180deg);
  }

  #home h1 {
    font-size: 50px;
    padding-top: 15%;
  }

  #home p {
    font-size: 24px;
    width: 40%;
    margin-left: 30%;
    margin-top: 3%;
  }
  #events h1 {
    font-size: 50px;
    padding: 30px 0px 30px 0px;
  }
  .events-bottom {
    display: flex;
    justify-content: center;
  }

  .all-events-btn {
    width: 300px;
    background-color: whitesmoke;
    color: black;
  }

  .about-lower-img {
    width: 30%;
    bottom: 100px;
    right: 200px;
    opacity: 1;
  }

  #about h1 {
    font-size: 50px;
    margin-left: 200px;
    padding-top: 100px;
    margin-top: 0px;
  }
  #about p {
    margin-left: 200px;
    width: 30%;
  }
  .event-list {
    margin: 10px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
  }

  #connect {
    padding-left: 150px;
  }

  #connect h1 {
    padding-top: 150px;
    font-size: 50px;
  }

  .connect-text {
    width: 25%;
  }

  .connect-img {
    right: 200px;
    width: 500px;
  }
}

@media only screen and (min-width: 1500px) {
  #events h1 {
    padding-top: 5%;
  }
  .all-events-btn {
    margin-top: 20%;
  }
}
