.nav-menu {
  display: flex;
  justify-content: space-around;
  border-bottom: solid black 1px;
  padding: 20px 0px 20px 0px;
  position: fixed;
  width: 100%;
  background-color: #4868e6;
  z-index: 5000;
}

.nav-menu button {
  border: none;
  background-color: #4868e6;
  color: white;
  font-size: 36px;
  font-family: "poppins";
  transition: 0.3s ease;
}

.nav-menu button:hover {
  color: #fd88a1;
}

.powered {
  font-size: 14px !important;
  margin: 0px !important;
  width: 100% !important;
  text-align: left !important;
}

.matic {
  font-size: 24px !important;
  margin: 0px !important;
  width: 100% !important;
  font-family: "poppins" !important;
  font-weight: 700;
}

.nav-menu div:nth-child(0) {
  font-size: 12px;
}

@media only screen and (max-width: 1000px) {
  .nav-menu {
    display: none;
  }
}
