.all-events {
  background-color: #3d5177;
  /* margin: -30px 0px -30px 0px; */
  padding: 30px 0px 60px 0px;
}

.all-events h1 {
  color: white;
  margin-left: 15px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .all-events h1 {
    margin: 30px 50px;
  }

  .events-full-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 50px;
  }
}

@media only screen and (min-width: 1000px) {
  .events-full-list {
    margin: 50px 150px 100px 150px;
    display: flex;
    justify-content: space-between;
  }

  .all-events {
    min-height: 100vh;
  }

  .all-events h1 {
    margin: 100px 0px 50px 160px;
    font-size: 50px;
  }
}
